.doctorSchedule-container {
  margin-left: 0px;
  width: 100%;
  .doctorSchedule-select {
    select {
      width: 28%;
      border: none;
      color: rgb(113, 113, 246);
      border-bottom: 1px solid black;
      font-weight: 600;
    }
  }
  .schedule-content {
    .title {
      margin-top: 15px;
      .calendar-icon {
        margin-top: -5px;
      }
      span {
        margin-left: 10px;
      }
    }
    .schedule-time {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap;
      button {
        width: 115px;
        height: 40px;
        background-color: #e2e0e0;
        border: none;
        border-radius: 5px;
        &:hover {
          border: 3px solid rgb(118, 118, 244);
        }
      }
      .title-empty {
        text-align: center;
        width: 80%;
        border: 1px solid rgb(165, 163, 163);
        background-color: #e2e0e0;
        border-radius: 5px;
      }
    }
  }
  .title-bottom {
    margin-top: 10px;
    span {
      color: #949393;
      font-size: 13px;
    }

    .title-bottom-icon {
      margin: 0 5px;
    }
  }
}
