.detailDoctor-container {
  .infoDoctor {
    padding: 30px 100px 0 100px;
    height: 180px;

    display: flex;
    .content-left {
      width: 15%;
      padding-left: 20px;
      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 1px solid gray;
      }
    }
    .content-right {
      strong {
        font-size: 26px;
      }
      p {
        width: 700px;
        margin-top: 10px;
        font-size: 17px;
        color: rgb(135, 135, 135);
      }
    }
  }
  .markdown-container {
    padding: 10px 100px 0 100px;
    background-color: rgb(251, 246, 246);
    border: 1px solid rgb(233, 228, 228);
  }
  .comment-container {
    padding: 10px 100px 0 100px;
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .doctorSchedule {
    padding: 30px 120px;
    display: flex;
    .content-left {
      width: 50%;
    }
    .content-right {
      width: 50%;
    }
  }
}
