.headerHomeP-container {
  width: 100%;
  height: 90px;
  display: flex;
  padding: 20px 20px 20px 35px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  .left-content {
    width: 20%;
    display: flex;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    span {
      margin-left: 10px;
      font-size: 20px;
      font-weight: 600;
      color: orange;
    }
    .left-content-icon {
      font-size: 25px;
      margin-right: 10px;
    }
  }
  .center-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p:nth-of-type(1) {
      font-size: 15px;
      font-weight: 600;
      margin-top: 20px;
    }
    & p:nth-of-type(2) {
      font-size: 15px;
      color: gray;
      margin-top: -10px;
    }
  }
  .right-content {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    .right-content-icon {
      color: rgb(29, 141, 221);
    }
    span {
      color: gray;
    }
  }
}
